<aside>
    <div class="aside-box">
        <div class="title">Search</div>
        <div class="search">
            <input type="text" placeholder="Search here..."/>
        </div>
    </div>
    <div class="aside-box">
        <div class="title">Recent Posts</div>
        <ul class="recent-post">
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
            <li>
                <img src="../../../../../assets/img/dummy-post.jpg" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <span>
                        <i class="tiny material-icons">access_time</i>
                        <small>August 21, 2021</small>
                    </span>
                </div>
            </li>
        </ul>
    </div>
    <div class="aside-box">
        <div class="title">Categories</div>
        <ul>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">tv</i> 
                        <span>HTML</span>
                    </span>
                    <span>(2)</span>
                </div>
            </li>
            <li>
                <div class="categories"> 
                    <span>
                        <i class="mediam material-icons">tv</i> 
                        <span>CSS</span>
                    </span>
                    <span>(3)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">tv</i> 
                        <span>JavaScript</span>
                    </span>
                    <span>(5)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">tv</i> 
                        <span>Data Structure</span>
                    </span>
                    <span>(4)</span>
                </div>
            </li>
        </ul>
    </div> 

    <div class="aside-box">
        <div class="title">Archive</div>
        <ul>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">access_time</i> 
                        <span>2021</span>
                    </span>
                    <span>(12)</span>
                </div>
            </li>
            <li>
                <div class="categories"> 
                    <span>
                        <i class="mediam material-icons">access_time</i> 
                        <span>2020</span>
                    </span>
                    <span>(31)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">access_time</i> 
                        <span>2019</span>
                    </span>
                    <span>(55)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>
                        <i class="mediam material-icons">access_time</i> 
                        <span>2018</span>
                    </span>
                    <span>(40)</span>
                </div>
            </li>
        </ul>
    </div>  
    <div class="aside-box tags">
        <div class="title">Tags</div>
        <div class="tag-section">
            <span>HTML</span>
            <span>CSS</span>
            <span>Node Js</span>
            <span>CSS</span>
            <span>HTML</span>
            <span>JavaScript</span>
            <span>Node Js</span>
            <span>JavaScript</span>
            <span>CSS</span>
            <span>Node Js</span>
            <span>JSON</span>
            <span>CSS</span>
            <span>HTML</span>
            <span>JavaScript</span>
            <span>Node Js</span>
            <span>JavaScript</span>
            <span>Node Js</span>
        </div>
    </div>
</aside>