<aside>
    <div class="aside-box">
        <div class="title">Search</div>
        <div class="search">
            <input type="text" placeholder="Search here..."/>
        </div>
    </div>
    <div class="aside-box">
        <div class="title">Recent Posts</div>
        <ul class="recent-post">
            <li>
                <img src="" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <small>August 21, 2021</small>
                </div>
            </li>
            <li>
                <img src="" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <small>August 21, 2021</small>
                </div>
            </li>
            <li>
                <img src="" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <small>August 21, 2021</small>
                </div>
            </li>
            <li>
                <img src="" alt="" />
                <div class="posts-detail">
                    <span>Elegant business man having a delicious cup of coffee</span>
                    <small>August 21, 2021</small>
                </div>
            </li>
        </ul>
    </div>
    <div class="aside-box">
        <div class="title">Categories</div>
        <ul>
            <li>
                <div class="categories">
                    <span>HTML</span>
                    <span>(2)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>CSS</span>
                    <span>(3)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>JavaScript</span>
                    <span>(5)</span>
                </div>
            </li>
            <li>
                <div class="categories">
                    <span>Data Structure</span>
                    <span>(4)</span>
                </div>
            </li>
        </ul>
    </div>    
    <div class="aside-box tags">
        <div class="title">Tags</div>
        <div class="tag-section">
            <span>HTML</span>
            <span>CSS</span>
            <span>Node Js</span>
            <span>CSS</span>
            <span>HTML</span>
            <span>JavaScript</span>
            <span>Node Js</span>
            <span>JavaScript</span>
            <span>JavaScript</span>
            <span>Node Js</span>
        </div>
    </div>
</aside>