<aside>
    <div class="aside-box">
        <div class="title">Search</div>
        <div class="search">
            <input type="text" placeholder="Search here..."/>
        </div>
    </div>
    <div class="aside-box">
        <div class="title">Recent Posts</div>
        <ul>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
    </div>
    <div class="aside-box">
        <div class="title">Categories</div>
        <ul>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
            <li>list 1</li>
        </ul>
    </div>    
    <div class="aside-box tags">
        <div class="title">Tags</div>
        <div class="tag-section">
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Node Js</span>
            <span>JavaScript</span>
            <span>Node Js</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>JavaScript</span>
            <span>Node Js</span>
        </div>
    </div>
</aside>