aside {
    border-left: 1px solid#ddd;
    margin: 8px 0;
    padding: 7px 15px;

    .aside-box {
        border: 1px solid#999;
        margin-bottom: 10px;
        border-radius: 4px;

        .title{
            font-size: 16px;
            background-color:#777;
            color: #fff;
            padding: 8px;
            text-transform: uppercase;
        }

        .search {
            padding: 10px;
            margin: 10px 0;
            
            input[type="text"] {
                width: 90%;
                padding: 10px;
                text-indent: 5px;
            }
        }

        ul {
            list-style: none;
            padding: 0 15px;

            li {
                padding: 10px 0;
                width: 100%;
                border-bottom: 1px solid #ccc;
                cursor: pointer;
                display: flex;
                align-items: center;

                img {
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                }

                .posts-detail {    
                    display: flex;                
                    flex-direction: column;

                    span {
                        font-size: 14px;
                        font-weight: 500;
                    } 
                    small {
                        font-size: 12px;
                        color: #999;
                    }
                }

                .categories {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;

                    span:nth-child(1) {
                        font-weight: 500;
                    }
                }
                &:hover {
                    color: darkgoldenrod;
                }
                &:last-child {
                    border-bottom: unset;
                }
            }
        }
    }
    .tags {     
        .tag-section {
            display: flex;
            flex-wrap: wrap;
            margin: 10px 0;

            span {
                margin: 5px;
                padding: 1px 5px;
                background-color: #fafafa;
                border: 1px solid#777;
                border-radius: 7px;
                cursor: pointer;
    
                &:hover {
                    background-color: darkgoldenrod;
                    color: #fff;
                }
            }
        }
    }
}