<div class="main-container" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div class="page-layout" fxFlex="72">
    <!-- Home components -->
    <div class="home-banner">
      Education for everyone
    </div>
    <div class="courses-section">
      <div class="header-title">Cources</div>
      <div class="course-grid">
        <div class="box">HTML</div>
        <div class="box">CSS</div>
        <div class="box">JavaScript</div>
        <div class="box">Node JS</div>
        <div class="box">Angular</div>
        <div class="box">HTML</div>
        <div class="box">CSS</div>
        <div class="box">JavaScript</div>
        <div class="box">Node JS</div>
        <div class="box">Angular</div>
      </div>
      <span class="read-more">read more...</span>
    </div>
    <div class="blogs-section">
      <div class="header-title">Blogs</div>
      <div class="blog-grid">
        <div class="box">
          <img src="https://i.picsum.photos/id/821/200/190.jpg?grayscale&hmac=dKfHBk2GH6Vz3l-k2y6eKcWyjZ9B8WzCvZt7m6XV5O0" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 1</span>
              <span>
                <small><strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ad distinctio ipsum commodi vel quisquam, quia unde mollitia voluptatem et est ea odit veritatis, repellendus nihil error quaerat adipisci possimus atque aut officia. Fugit voluptas rem natus.</div>
          </div>
        </div>
        <div class="box">
          <img src="https://i.picsum.photos/id/866/200/190.jpg?hmac=CObYOpOJqm6CIzvYTRYU9-bAJubxL4GjFAjrEWbZcdY" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 2</span>
              <span>
                <small><strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iste similique temporibus nobis ducimus quisquam adipisci nulla sapiente voluptatibus veniam quis accusamus, assumenda, molestias ea amet aspernatur soluta maxime placeat!</div>
          </div>
        </div>

        <div class="box">
          <img src="https://i.picsum.photos/id/866/200/190.jpg?hmac=CObYOpOJqm6CIzvYTRYU9-bAJubxL4GjFAjrEWbZcdY" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 3</span>
              <span>
                <small><strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ad distinctio ipsum commodi vel quisquam, quia unde mollitia voluptatem et est ea odit veritatis, repellendus nihil error quaerat adipisci possimus atque aut officia. Fugit voluptas rem natus.</div>
          </div>
        </div>
        <div class="box">
          <img src="https://i.picsum.photos/id/821/200/190.jpg?grayscale&hmac=dKfHBk2GH6Vz3l-k2y6eKcWyjZ9B8WzCvZt7m6XV5O0" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 4</span>
              <span>
                <small><strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iste similique temporibus nobis ducimus quisquam adipisci nulla sapiente voluptatibus veniam quis accusamus, assumenda, molestias ea amet aspernatur soluta maxime placeat!</div>
          </div>
        </div>
        
        <div class="box">
          <img src="https://i.picsum.photos/id/821/200/190.jpg?grayscale&hmac=dKfHBk2GH6Vz3l-k2y6eKcWyjZ9B8WzCvZt7m6XV5O0" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 5</span>
              <span>
                <small><strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In ad distinctio ipsum commodi vel quisquam, quia unde mollitia voluptatem et est ea odit veritatis, repellendus nihil error quaerat adipisci possimus atque aut officia. Fugit voluptas rem natus.</div>
          </div>
        </div>
        <div class="box">
          <!-- <img src="https://craftypixels.com/placeholder-image/200x190/333/fff" alt="" /> -->
          <!-- <img src="http://placehold.jp/200x290.png" alt="" /> -->
          <img src="https://i.picsum.photos/id/866/200/190.jpg?hmac=CObYOpOJqm6CIzvYTRYU9-bAJubxL4GjFAjrEWbZcdY" alt="" />
          <div class="content">
            <div class="title">
              <span>Blog Post 6</span>
              <span>
                <small>
                  <strong>By:</strong>Admin
                </small> &nbsp;&nbsp;
                <small>
                  <i class="tiny material-icons">access_time</i> August 21, 2021
                </small>
              </span>
            </div>
            <div class="desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore iste similique temporibus nobis ducimus quisquam adipisci nulla sapiente voluptatibus veniam quis accusamus, assumenda, molestias ea amet aspernatur soluta maxime placeat!</div>
          </div>
        </div>
      </div>
      <span class="read-more">read more...</span>
  </div>    
  <!-- <app-sidebar-right fxFlex="28"></app-sidebar-right> -->
</div>