header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid#aaa;
    text-transform: uppercase;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.2);

    .header-title {
        padding: 15px;
        color: #333;
        font-size: 18px;
        font-weight: 500;
    }
    .navigation {
        color: #333;
        font-size: 15px;
        font-weight: 500;

        ul li {
            display: inline-flex;
            list-style: none;
            padding: 0 15px;
            cursor: pointer;
        }
    }
}